# Loading the data as dataframe

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/yelp-dataset/Dataset_User_Agreement.pdf
/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json

In [ ]:
#loading the json tables as pandas dataframe
chunks = []
with pd.read_json("/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json", lines=True, chunksize=10000) as reader:
    reader
    for chunk in reader:
        chunks.append(chunk)
        
        
complete_df_business = pd.concat(chunks, ignore_index=True)

In [ ]:
#looking at the first 5 rows
complete_df_business.head()

In [ ]:
#understanding the data size
complete_df_business.shape

In [ ]:
#understanding the data
complete_df_business.describe()

In [ ]:
#understanding the data
complete_df_business.info()

In [2]:
#loading the checkin json as pandas dataframe
chunks = []
with pd.read_json("/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json", lines=True, chunksize=10000) as reader:
    reader
    for chunk in reader:
        chunks.append(chunk)
        
        
complete_df_checkin = pd.concat(chunks, ignore_index=True)

In [3]:
#looking at the first 5 rows
complete_df_checkin.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [ ]:
#understanding the data size
complete_df_checkin.shape

In [ ]:
#understanding the data
complete_df_checkin.describe()

In [ ]:
#understanding the data
complete_df_checkin.info()

In [2]:
#loading the review json as pandas dataframe
chunks = []
with pd.read_json("/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json", lines=True, chunksize=10000) as reader:
    reader
    for chunk in reader:
        chunks.append(chunk)
        
        
complete_df_review = pd.concat(chunks, ignore_index=True)

In [ ]:
#looking at the first 5 rows
complete_df_review.head()

In [ ]:
#understanding the data size
complete_df_review.shape

In [ ]:
#understanding the data
complete_df_review.describe()

In [ ]:
#understanding the data
complete_df_review.info()

In [ ]:
#loading the academic json as pandas dataframe
chunks = []
with pd.read_json("/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json", lines=True, chunksize=10000) as reader:
    reader
    for chunk in reader:
        chunks.append(chunk)
        
        
complete_df_tip = pd.concat(chunks, ignore_index=True)

In [ ]:
#looking at the first 5 rows
complete_df_tip.head()

In [ ]:
#understanding the data size
complete_df_tip.shape

In [ ]:
#understanding the data
complete_df_tip.describe()

In [ ]:
#understanding the data
complete_df_tip.info()

In [ ]:
#loading the user json as pandas dataframe
chunks = []
with pd.read_json("/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json", lines=True, chunksize=10000) as reader:
    reader
    for chunk in reader:
        chunks.append(chunk)
        
        
complete_df_user = pd.concat(chunks, ignore_index=True)

In [ ]:
#looking at the first 5 rows
complete_df_user.head()

In [ ]:
#understanding the data size
complete_df_user.shape

In [ ]:
#understanding the data
complete_df_user.describe()

In [ ]:
#understanding the data
complete_df_user.info()

# Connecting to Azure MYSQL engine

In [4]:
#importing libraries
from sqlalchemy import create_engine
!pip install PyMySql
import pymysql
import sqlalchemy

Collecting PyMySql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 2.7 MB/s eta 0:00:00
Installing collected packages: PyMySql
Successfully installed PyMySql-1.1.0

In [5]:
#credentials for azure
username = 'A13' # Your team name
password = 'A13password'
host = 'testproject.mysql.database.azure.com'
database = 'A13'  # Your team name

In [6]:
#connecting to azure mysql 

connection_string = f"mysql+pymysql://{username}:{password}@{host}/{database}"

ssl_args = {
    'ssl_ca': 'path_to/ca-cert.pem',
    'ssl_cert': 'path_to/client-cert.pem',
    'ssl_key': 'path_to/client-key.pem'
}
engine = create_engine(
    connection_string,
    connect_args={'ssl': ssl_args})

# Moving the dataframes to Azure MYSQL as tables

In [ ]:
#tip table
complete_df_tip.to_sql(name = "tip", con = engine, if_exists='replace', index=False, chunksize=50000)

In [ ]:
#user table
complete_df_user.to_sql(name = "user", con = engine, if_exists='replace', index=True, dtype={'elite': sqlalchemy.types.JSON, 'friends': sqlalchemy.types.JSON}, chunksize=50000)

In [ ]:
#business table
complete_df_business.to_sql(name = "business", con = engine, if_exists='replace', index=True, dtype={'attributes': sqlalchemy.types.JSON, 'hours': sqlalchemy.types.JSON}, chunksize=50000)

In [6]:
#review table
complete_df_review.to_sql(name = "review", con = engine, if_exists='replace', index=False, chunksize=50000)

6990280

In [7]:
#checkin table
complete_df_checkin.to_sql(name = "checkin", con = engine, if_exists='replace', index=True, dtype={'date': sqlalchemy.types.JSON}, chunksize=50000)

131930

# **Creating new tables in the database**

**Elite Table**

In [ ]:
#creating a new dataframe with only the required variables
exploded_df_user_elite = pd.DataFrame(complete_df_user[['user_id', 'elite']])

#splitting the dataframe by ',' and dividing multi-valued cell into a different row
exploded_df_user_elite_new = (exploded_df_user_elite.assign(elite = exploded_df_user_elite['elite'].str.split(',')).explode('elite').reset_index(drop = True))
exploded_df_user_elite_new.head()

#moving the dataframe to sql database as a new table
exploded_df_user_elite_new.to_sql(name = "elite", con = engine, if_exists='replace', index=False, chunksize=50000)

**Categories Table**

In [ ]:
#creating a new dataframe with only the required variables
exploded_df_business_cat = pd.DataFrame(complete_df_business[['categories', 'business_id']])

#splitting the dataframe by ',' and dividing multi-valued cell into a different row
exploded_df_business_cat_new = (exploded_df_business_cat.assign(categories = exploded_df_business_cat['categories'].str.split(',')).explode('categories').reset_index(drop = True))
exploded_df_business_cat_new.head()

#moving the dataframe to sql database as a new table
exploded_df_business_cat_new.to_sql(name = "category", con = engine, if_exists='replace', index=False, chunksize=50000)

**Friends Table**

In [ ]:
#creating a new dataframe with only the required variables
exploded_df_user_friends = pd.DataFrame(complete_df_user[['friends', 'user_id']])

#splitting the dataframe by ',' and dividing multi-valued cell into a different row
exploded_df_user_friends_new = (exploded_df_user_friends.assign(friends = exploded_df_user_friends['friends'].str.split(',')).explode('friends').reset_index(drop = True))
exploded_df_user_friends_new.head()

#moving the dataframe to sql database as a new table
exploded_df_user_friends_new.to_sql(name = "friend", con = engine, if_exists='replace', index=False, chunksize=50000)

**Hours table**

In [ ]:
#creating a new dataframe with only the required variables
exploded_df_business_hours = pd.DataFrame(complete_df_business[['business_id', 'hours']])

In [ ]:
#creating a function to transform a dictionary of hours into a formatted string
def process_hours(hours_dict):
    if hours_dict is None:
        return None
    formatted_hours = ', '.join([f"'{day}': '{hours}'" for day, hours in hours_dict.items()])
    return formatted_hours

In [ ]:
#applying the function to hours column in the table
exploded_df_business_hours['hours'] = exploded_df_business_hours['hours'].apply(process_hours)

#splitting the dataframe by ',' and dividing multi-valued cell into a different row
exploded_df_business_hours_new = (exploded_df_business_hours.assign(hours = exploded_df_business_hours['hours'].str.split(',')).explode('hours').reset_index(drop = True))
exploded_df_business_hours_new.head()

In [ ]:
#moving the dataframe to sql database as a new table
exploded_df_business_hours_new.to_sql(name = "hour", con = engine, if_exists='replace', index=False, chunksize=50000)

**Attributes Table**

In [ ]:
#creating a new dataframe with the required variables
exploded_df_business_att = pd.DataFrame(complete_df_business[['attributes', 'business_id']])
exploded_df_business_att.head()

In [ ]:
#transforming the dictionaries, into a list of strings, where each string represents a key-value pair 
exploded_df_business_att['attributes'] = exploded_df_business_att['attributes'].apply(lambda x: [f"{key}: {value}" for key, value in x.items()] if x is not None else [])

In [ ]:
#checking the database by getting the first 5 rows
exploded_df_business_att.head()

In [ ]:
#dividing multi-valued cell into a different row
exploded_df_business_att_new = exploded_df_business_att.explode('attributes')
exploded_df_business_att_new = exploded_df_business_att_new.reset_index(drop=True)

In [ ]:
#moving the dataframe to sql database as a new table
exploded_df_business_att_new.to_sql(name = "attribute", con = engine, if_exists='replace', index=True, chunksize=1000)

**Melting date column in checkin table**

In [12]:
#Changing the date column to an exploded version where each multi-valued element becomes a row
complete_df_checkin['date'] = complete_df_checkin['date'].str.split(',')
exploded_df_checkin_date = complete_df_checkin.explode('date')
exploded_df_checkin_date.head()

In [17]:
#moving the dataframe to sql database as a new table
exploded_df_checkin_date.to_sql(name = "checkin", con = engine, if_exists='replace', index=True, chunksize=1000)

13356875