In [ ]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.0.tar.gz (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.5/89.5 kB 2.5 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.0-cp310-cp310-linux_x86_64.whl size=123673 sha256=0947c89041852ea42daa667058b6c94bc0b76367c23fa9c759af66c0faa18ded
  Stored in directory: /root/.cache/pip/wheels/a4/f8/fd/0399687c0abd03c10c975ed56c692fcd3d0fb80440b5a661f1
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.0

In [ ]:
%load_ext sql
%sql mysql://B07:B07password@testproject.mysql.database.azure.com:3306/B07

In [ ]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

**Business**

In [ ]:
df_business = pd.read_json('/content/gdrive/MyDrive/archive/yelp_academic_dataset_business.json', lines=True)

In [ ]:
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

**Checkin**

In [ ]:
df_checkin = pd.read_json('/content/gdrive/MyDrive/archive/yelp_academic_dataset_checkin.json',lines=True)

In [ ]:
df_checkin.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

WARNING: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

**Review**

In [ ]:
df_review = pd.read_json('/content/gdrive/MyDrive/archive/yelp_academic_dataset_review.json',lines=True)

NameError: ignored

In [ ]:
df_review.head(10000)

**Tip**

In [ ]:
df_tip = pd.read_json('/content/gdrive/MyDrive/archive/yelp_academic_dataset_tip.json',lines=True)

In [ ]:
df_tip.head()

**User**

In [ ]:
df_user = pd.read_json('/content/gdrive/MyDrive/archive/yelp_academic_dataset_user.json',lines=True)

In [ ]:
df_user.head(10000)

1. Find the top 1000 restaurants that has rating above 3.5 in a descending order.

In [ ]:
%%sql
CREATE TABLE Top_1000 AS
select *
from business
where stars>= 3.5 and categories like "%restaurant%"
order by stars desc
limit 1000;

 * mysql://B07:***@testproject.mysql.database.azure.com:3306/B07
(MySQLdb.OperationalError) (1050, "Table 'Top_1000' already exists")
[SQL: CREATE TABLE Top_1000 AS
select *
from business
where stars>= 3.5 and categories like "%%restaurant%%"
order by stars desc
limit 1000;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

2. We aim to find out which city own the most high rating restaurants.

In [ ]:
%%sql
SELECT COUNT(city) AS city_count, city, postal_code
FROM Top_1000
GROUP BY city, postal_code
order by city_count desc;

 * mysql://B07:***@testproject.mysql.database.azure.com:3306/B07
473 rows affected.

[(16, 'Santa Barbara', '93101'),
 (12, 'New Orleans', '70130'),
 (11, 'Philadelphia', '19147'),
 (10, 'Reno', '89502'),
 (10, 'Brandon', '33511'),
 (9, 'Nashville', '37211'),
 (9, 'Nashville', '37203'),
 (9, 'New Orleans', '70116'),
 (8, 'Philadelphia', '19148'),
 (8, 'Philadelphia', '19146'),
 (8, 'Tucson', '85705'),
 (8, 'Philadelphia', '19103'),
 (8, 'Philadelphia', '19145'),
 (8, 'Nashville', '37209'),
 (7, 'Philadelphia', '19104'),
 (7, 'New Orleans', '70115'),
 (7, 'Philadelphia', '19134'),
 (7, 'Tucson', '85701'),
 (7, 'Tampa', '33604'),
 (6, 'St. Louis', '63118'),
 (6, 'Sparks', '89431'),
 (6, 'Tampa', '33611'),
 (6, 'Boise', '83702'),
 (6, 'Franklin', '37064'),
 (6, 'New Orleans', '70112'),
 (6, 'Philadelphia', '19123'),
 (6, 'Boise', '83706'),
 (6, 'Nashville', '37210'),
 (6, 'Philadelphia', '19122'),
 (6, 'Indianapolis', '46202'),
 (6, 'New Orleans', '70117'),
 (6, 'Clearwater', '33755'),
 (6, 'Tampa', '33607'),
 (6, 'Indianapolis', '46201'),
 (5, 'Tampa', '33606'),
 (5, 'Clearwater', '33765'),
 (5, 'Palm Harbor', '34684'),
 (5, 'Tampa', '33619'),
 (5, 'Lambertville', '08530'),
 (5, 'Dunedin', '34698'),
 (5, 'Reno', '89501'),
 (5, 'Saint Louis', '63104'),
 (5, 'Indianapolis', '46225'),
 (5, 'Nashville', '37206'),
 (4, 'Nashville', '37217'),
 (4, 'Indianapolis', '46256'),
 (4, 'Hatboro', '19040'),
 (4, 'Seminole', '33772'),
 (4, 'St Pete Beach', '33706'),
 (4, 'Philadelphia', '19130'),
 (4, 'Philadelphia', '19143'),
 (4, 'Wilmington', '19805'),
 (4, 'Reno', '89509'),
 (4, 'New Orleans', '70119'),
 (4, 'Tampa', '33612'),
 (4, 'Smyrna', '37167'),
 (4, 'Tucson', '85713'),
 (4, 'Tampa', '33614'),
 (4, 'Tampa', '33603'),
 (4, 'Doylestown', '18901'),
 (4, 'Largo', '33771'),
 (4, 'Kennett Square', '19348'),
 (4, 'Tarpon Springs', '34689'),
 (4, 'Tucson', '85745'),
 (4, 'Goleta', '93117'),
 (4, 'Riverview', '33578'),
 (4, 'Nashville', '37208'),
 (4, 'Lutz', '33549'),
 (4, 'Tampa', '33629'),
 (4, 'Tucson', '85719'),
 (4, 'Hermitage', '37076'),
 (4, 'Saint Louis', '63116'),
 (4, 'Indianapolis', '46220'),
 (4, 'Philadelphia', '19125'),
 (4, 'Indianapolis', '46250'),
 (4, 'Tampa', '33605'),
 (4, 'Tampa', '33602'),
 (4, 'Indianapolis', '46240'),
 (4, 'Tampa', '33615'),
 (4, 'New Orleans', '70118'),
 (4, 'Lansdale', '19446'),
 (3, 'New Orleans', '70114'),
 (3, 'Philadelphia', '19135'),
 (3, 'Indianapolis', '46204'),
 (3, 'New Castle', '19720'),
 (3, 'Indianapolis', '46203'),
 (3, 'Arnold', '63010'),
 (3, 'Reno', '89511'),
 (3, 'St. Louis', '63110'),
 (3, 'Indianapolis', '46224'),
 (3, 'Boise', '83704'),
 (3, 'Maryland Heights', '63043'),
 (3, 'Gallatin', '37066'),
 (3, 'Saint Ann', '63074'),
 (3, 'Reno', '89512'),
 (3, 'Merchantville', '08109'),
 (3, 'Old Hickory', '37138'),
 (3, 'Tucson', '85716'),
 (3, 'St. Petersburg', '33707'),
 (3, 'St. Louis', '63104'),
 (3, 'Tucson', '85712'),
 (3, 'Westwego', '70094'),
 (3, 'La Vergne', '37086'),
 (3, 'Ardmore', '19003'),
 (3, 'Tampa', '33618'),
 (3, 'POTTSTOWN', '19464'),
 (3, 'Tampa', '33617'),
 (3, 'St. Louis', '63116'),
 (3, 'Williamstown', '08094'),
 (3, 'Tucson', '85741'),
 (3, 'Malvern', '19355'),
 (3, 'Palm Harbor', '34683'),
 (3, 'Audubon', '08106'),
 (3, 'Nashville', '37219'),
 (3, 'Boise', '83709'),
 (3, 'Indianapolis', '46241'),
 (3, 'Philadelphia', '19144'),
 (3, 'Florissant', '63033'),
 (3, 'Gretna', '70056'),
 (2, 'Langhorne', '19047'),
 (2, 'Tampa', '33609'),
 (2, 'Wilmington', '19804'),
 (2, 'Sappington', '63128'),
 (2, 'Pinellas Park', '33781'),
 (2, 'Mount Holly', '08060'),
 (2, 'Gulfport', '33707'),
 (2, 'Indianapolis', '46222'),
 (2, 'St. Petersburg', '33701'),
 (2, 'Valley Park', '63088'),
 (2, 'Oldsmar', '34677'),
 (2, 'Kenner', '70062'),
 (2, 'Saint Louis', '63139'),
 (2, 'New Hope', '18938'),
 (2, 'Wilmington', '19806'),
 (2, 'Indianapolis', '46205'),
 (2, 'Philadelphia', '19106'),
 (2, 'Valrico', '33596'),
 (2, 'Malaga', '08328'),
 (2, 'Gloucester City', '08030'),
 (2, 'Haddonfield', '08033'),
 (2, 'Ambler', '19002'),
 (2, 'Indianapolis', '46218'),
 (2, 'Boyertown', '19512'),
 (2, 'Eagle', '83616'),
 (2, 'St. Louis', '63109'),
 (2, 'Nolensville', '37135'),
 (2, 'Hendersonville', '37075'),
 (2, 'Springfield', '19064'),
 (2, 'West Chester', '19380'),
 (2, 'Havertown', '19083'),
 (2, 'Woodstown', '08098'),
 (2, 'Zephyrhills', '33542'),
 (2, 'Goodlettsville', '37072'),
 (2, 'Medford', '08055'),
 (2, 'Tampa', '33601'),
 (2, 'St. Petersburg', '33704'),
 (2, 'Nashville', '37214'),
 (2, 'Philadelphia', '19136'),
 (2, 'Upper Darby', '19082'),
 (2, 'St. Louis', '63103'),
 (2, 'Clearwater', '33762'),
 (2, 'Philadelphia', '19140'),
 (2, 'Saint Petersburg', '33705'),
 (2, 'Madeira Beach', '33708'),
 (2, 'Boise', '83713'),
 (2, 'Overland', '63114'),
 (2, 'St. Louis', '63101'),
 (2, 'Elkins Park', '19027'),
 (2, 'New Orleans', '70127'),
 (2, 'St. Petersburg', '33713'),
 (2, 'Tampa', '33647'),
 (2, 'Collegeville', '19426'),
 (2, 'Newtown Square', '19073'),
 (2, 'Beech Grove', '46107'),
 (2, 'Philadelphia', '19119'),
 (2, 'St. Pete Beach', '33706'),
 (2, 'Saint Louis', '63109'),
 (2, 'Indianapolis', '46229'),
 (2, 'Saint Petersburg', '33713'),
 (2, 'Carpinteria', '93013'),
 (2, 'Tucson', '85706'),
 (2, 'Wilmington', '19801'),
 (2, 'Largo', '33770'),
 (2, 'Pottstown', '19465'),
 (2, 'Chalmette', '70043'),
 (2, 'Indianapolis', '46268'),
 (2, 'Philadelphia', '19128'),
 (2, 'Lutz', '33559'),
 (2, 'Wimauma', '33598'),
 (2, 'Brentwood', '37027'),
 (2, 'Boise', '83705'),
 (2, 'Spring Hill', '34608'),
 (2, 'St Louis', '63104'),
 (2, 'West Chester', '19382'),
 (1, 'Santa Barbara', '93103'),
 (1, 'Belleville', '62220'),
 (1, 'New Orleans', '70124'),
 (1, 'Edmonton', 'T5E 2T2'),
 (1, 'Blackwood', '08012'),
 (1, 'Camden', '08102'),
 (1, 'Philadelphia', '19114'),
 (1, 'Philadelphia', '19132'),
 (1, 'St.  Charles', '63301'),
 (1, 'Brandon', '33510'),
 (1, 'Saint Louis', '63144'),
 (1, 'Barrington', '08007'),
 (1, 'Tampa Bay', '33767'),
 (1, 'Jenkintown', '19046'),
 (1, 'Berlin', '08009'),
 (1, 'Zephyrhills', '33544'),
 (1, 'Nashville', '37072'),
 (1, 'Florissant', '63031'),
 (1, "O'Fallon", '62269'),
 (1, 'Edmonton', 'T6G 0Z1'),
 (1, 'Mount Laurel Township', '08054'),
 (1, 'San Antonio', '33576'),
 (1, 'Pennsauken', '08110'),
 (1, 'Tampa Bay', '33602'),
 (1, 'Edmonton', 'T5S 2S2'),
 (1, 'Morton', '19070'),
 (1, 'Philadelphia', '19116'),
 (1, 'Tampa', '33613'),
 (1, 'Schwenksville', '19473'),
 (1, 'Spring City', '19475'),
 (1, 'Kenneth City', '33709'),
 (1, 'St. Louis', '63102'),
 (1, 'Camden', '08103'),
 (1, 'Joelton', '37080'),
 (1, 'Newtown', '18940'),
 (1, 'Saint Louis', '63110'),
 (1, 'Norristown', '19401'),
 (1, 'Flourtown', '19031'),
 (1, 'Belleville', '62223'),
 (1, 'River Ridge', '70123'),
 (1, 'Philadelphia', '19124'),
 (1, 'Edmonton', 'T5G 1L9'),
 (1, 'Belleair Bluffs', '33770'),
 (1, 'Edmonton', 'T5N 3S5'),
 (1, 'Plant City', '33563'),
 (1, 'Nashville', '37215'),
 (1, 'Feasterville', '19053'),
 (1, 'Edmonton', 'T5B 0S4'),
 (1, 'Kingston Springs', '37082'),
 (1, 'Clayton', '08312'),
 (1, 'Tucson', '85710'),
 (1, 'Roebling', '08554'),
 (1, 'Edmonton', 'T6E 0Z2'),
 (1, 'Saint Petersburg', '33708'),
 (1, 'Silverdale', '18962'),
 (1, 'Treasure Island', '33706'),
 (1, 'Downingtown', '19335'),
 (1, 'St. Peters', '63303'),
 (1, 'Philadelphia', '19127'),
 (1, 'Edmonton', 'T5J 0L9'),
 (1, 'Sherwood Park', 'T8A 4Y8'),
 (1, 'Hilltown', '18927'),
 (1, 'Philadelphia', '19150'),
 (1, 'Santa Barbara', '93109'),
 (1, 'Harrison Township', '08062'),
 (1, 'Speedway', '46224'),
 (1, 'Wyndmoor', '19038'),
 (1, 'Warminster', '18974'),
 (1, 'Haddon Heights', '08035'),
 (1, 'Paoli', '19301'),
 (1, 'Tampa Bay', '33635'),
 (1, 'Tucson', '85714'),
 (1, 'Telford', '18969'),
 (1, 'Edmonton', 'T6G 0X8'),
 (1, 'Saint Louis', '63101'),
 (1, 'New Orleans', '70121'),
 (1, 'Warrington Township', '18976'),
 (1, 'Meridian', '83646'),
 (1, 'Valrico', '33594'),
 (1, 'Holland', '18966'),
 (1, 'Laurel Springs', '08021'),
 (1, 'St. Louis', '63125'),
 (1, 'Saint Louis', '63118'),
 (1, 'Collingswood', '08108'),
 (1, 'Tucson', '85746'),
 (1, 'Lebanon', '62254'),
 (1, 'Virginia City', '89440'),
 (1, 'St. Petersburg', '33710'),
 (1, 'Edmonton', 'T5H 2L6'),
 (1, 'Southampton', '18966'),
 (1, 'Saint Petersburg', '33709'),
 (1, 'Greenwood', '46143'),
 (1, 'Pinellas', '33781'),
 (1, 'Des Peres', '63131'),
 (1, 'Largo', '33774'),
 (1, 'Quakertown', '18951'),
 (1, 'Lutz', '33548'),
 (1, 'Tampa', '33625'),
 (1, 'Bristol', '19007'),
 (1, 'Port Richey', '34668'),
 (1, 'Saint Louis', '63122'),
 (1, 'Edmonton', 'T6T 0B4'),
 (1, 'Florence Township', '08518'),
 (1, 'New Port Richey', '34654'),
 (1, 'Springfield', '37172'),
 (1, 'Indianapolis', '46216'),
 (1, 'Tucson', ''),
 (1, 'King of Prussia', '19406'),
 (1, 'Edwardsville', '62025'),
 (1, 'Edmonton', 'T6W 3Y9'),
 (1, 'Nashville', '37212'),
 (1, 'Metairie', '70006'),
 (1, 'Chalfont', '18914'),
 (1, 'Delanco', '08075'),
 (1, 'Boothwyn', '19061'),
 (1, 'Safety Harbor', '34695'),
 (1, 'Lutz', '33558'),
 (1, 'Tucson', '85735'),
 (1, 'Philadelphia', '19107'),
 (1, 'Santa Barbara', '93117'),
 (1, 'Bala Cynwyd', '19004'),
 (1, 'Edmonton', 'T5H 3B2'),
 (1, 'Riverside', '08075'),
 (1, 'Trenton', '08611'),
 (1, 'St. Petersburg', '33702'),
 (1, 'Greenville', '19807'),
 (1, 'Spanish Springs', '89436'),
 (1, 'Levittown', '19054'),
 (1, 'Chadds Ford', '19317'),
 (1, 'Philadelphia', '19115'),
 (1, 'Carmel', '46032'),
 (1, 'Edmonton', 'T5B 3Z3'),
 (1, 'Pennsville', '08070'),
 (1, 'Turnersville', '08012'),
 (1, 'Woodbury', '08096'),
 (1, 'Westtown', '19395'),
 (1, 'Nashville', '37076'),
 (1, 'Maple Shade', '08052'),
 (1, 'Greenbrier', '37073'),
 (1, 'Fishers', '46038'),
 (1, 'Edmonton', 'T5P 4Z3'),
 (1, 'Holiday', '34691'),
 (1, 'St. Petersburg', ''),
 (1, 'Abington', '19001'),
 (1, 'Plant City', '33567'),
 (1, 'Swansea', '62220'),
 (1, 'Tampa', '33637'),
 (1, 'Indianapolis', '46221'),
 (1, 'Saint Petersburg', '33701'),
 (1, 'Franklin', '37067'),
 (1, 'Philadelphia', '19133'),
 (1, 'Norristown', '19403'),
 (1, 'Edmonton', 'T6C 0Z4'),
 (1, 'Reno', '89431'),
 (1, 'Maple Shade Township', '08052'),
 (1, 'Kalispell', '59901'),
 (1, 'Bridgeton', '63044'),
 (1, 'Glendale', '63122'),
 (1, 'Reno', '89523'),
 (1, 'Sewell', '08080'),
 (1, 'Edmonton', 'T6E 5X6'),
 (1, 'Nashville', '37220'),
 (1, 'Wilmington Manor', '19720'),
 (1, 'North Redington Beach', '33708'),
 (1, 'Spring Hill', '34610'),
 (1, 'Saint Charles', '63301'),
 (1, 'Trenton', '08608'),
 (1, 'Odessa', '33556'),
 (1, 'Terrytown', '70056'),
 (1, 'Sherwood Park', 'T8H 0M4'),
 (1, 'St. Albert', 'T8N 3T6'),
 (1, 'Saint Petersburg', '33702'),
 (1, 'Levittown', '19055'),
 (1, 'Smithton', '62285'),
 (1, 'Tucson', '85718'),
 (1, 'Hatfield', '19440'),
 (1, 'Saint Louis', '63133'),
 (1, 'Edmonton', 'T5S 1K6'),
 (1, 'Evesham', '08053'),
 (1, 'Saint Bernard', '70085'),
 (1, 'Oaklyn', '08107'),
 (1, 'Philadelphia', '19149'),
 (1, 'Saint Petersburg', '33710'),
 (1, 'Oro Valley', '85704'),
 (1, 'Mount Laurel', '08054'),
 (1, 'Boise', '83707'),
 (1, 'St. Louis', '63141'),
 (1, 'Saint Louis', '63125'),
 (1, 'Clearwater', '33764'),
 (1, 'Truckee', '96161'),
 (1, 'Edmonton', 'T6W 0L9'),
 (1, 'Nashville ', '37211'),
 (1, 'Kirkwood', '63122'),
 (1, 'Indianapolis', '46278'),
 (1, 'Mount Juliet', '37122'),
 (1, 'Alton', '62002'),
 (1, 'St.Petersburg', '33701'),
 (1, 'Perkiomenville', '18074'),
 (1, 'Tampa', '33635'),
 (1, 'Aston', '19014'),
 (1, 'Glenolden', '19036'),
 (1, 'Tampa Bay', '33611'),
 (1, 'Philadelphia', '19195'),
 (1, 'Waterloo', '62298'),
 (1, "Town 'n' Country", '33615'),
 (1, 'Tampa Bay', '34689'),
 (1, 'Tampa Bay', '33761'),
 (1, 'Edmonton', 'T6J 6P3'),
 (1, 'Seffner', '33584'),
 (1, 'Woodlyn', '19094'),
 (1, 'Clifton Heights', '19018'),
 (1, 'Scott Air Force Base', '62225'),
 (1, 'Boise', '83716'),
 (1, 'Gretna', '70053'),
 (1, 'Jamison', '18929'),
 (1, 'Tucson', '85756'),
 (1, 'Philadelphia', '19120'),
 (1, 'Hudson', '34667'),
 (1, 'Reno', '89521'),
 (1, 'Nashville', '37013'),
 (1, 'Spring Hill', '34606'),
 (1, 'Indianapolis', '46227'),
 (1, 'Saint Louis', '63103'),
 (1, 'Lafayette Hill', '19444'),
 (1, 'Harleysville', '19438'),
 (1, 'New Orleans', '70125'),
 (1, 'Belle Chasse', '70037'),
 (1, 'Camden', '08104'),
 (1, 'Hockessin', '19707'),
 (1, 'Wyncote', '19095'),
 (1, 'Buckingham', '18912'),
 (1, 'Haddon Township', '08108'),
 (1, 'New Port Richey', '34655'),
 (1, 'Reno', '89506'),
 (1, 'Saint Louis', '63114'),
 (1, 'Tucson', '85641'),
 (1, 'Skippack', '19474'),
 (1, 'Phoenixville', '19460'),
 (1, 'Thonotosassa', '33592'),
 (1, 'Wood River', '62095'),
 (1, 'Avondale', '19311'),
 (1, 'Reno', '89595'),
 (1, 'Edmonton', 'T5E 4C4'),
 (1, 'St. Louis', '63123'),
 (1, 'Indianapolis', '46239'),
 (1, 'Belleville', '62226'),
 (1, 'Norwood', '19074'),
 (1, 'New Port Richey', '34669'),
 (1, 'Seminole', '33776'),
 (1, 'Pitman', '08071'),
 (1, 'Wayne', '19087'),
 (1, 'Cherry Hill', '08003'),
 (1, 'East Norriton', '19401'),
 (1, 'Edmonton', 'T6E 2A2'),
 (1, 'Clearwater', '33756'),
 (1, 'Antioch', '37013'),
 (1, 'Tampa', '33624'),
 (1, 'Edmonton', 'T5X 4H7'),
 (1, 'Sherwood Park', 'T8A 3V5'),
 (1, 'New Orleans', '70131'),
 (1, 'Green Lane', '18054'),
 (1, 'Pennsauken', '08109'),
 (1, 'New Orleans', '70113'),
 (1, 'LOWER PROVIDENCE', '19403'),
 (1, 'Edmonton', 'T5A 0J8'),
 (1, 'Riverview', '33569'),
 (1, 'Tarpon Springs', '34688'),
 (1, 'Narberth', '19072'),
 (1, 'Palmyra', '08065'),
 (1, 'Pennsville Township', '08070'),
 (1, 'St Louis', '63129'),
 (1, 'Chichester', '19061'),
 (1, 'Carpinteria', '93190'),
 (1, 'Boise', '83703'),
 (1, 'Chesterfield', '63017'),
 (1, 'Nashville', '37205'),
 (1, 'Spring Hill', '34609'),
 (1, 'Webster Groves', '63119'),
 (1, 'Trappe', '19426')]

3. As we deicide to start our restaurant in Sata Barbara,CA. We want to find

*   List item
*   List item

out more details regarding the restaurant attributes.

In [ ]:
%%sql
create table santabarbara as
select * from business
where city="Santa Barbara"
and categories like "%restaurant%"
and stars>3.5
limit 1000;

 * mysql://B07:***@testproject.mysql.database.azure.com:3306/B07
(MySQLdb.OperationalError) (1050, "Table 'santabarbara' already exists")
[SQL: create table santabarbara as
select * from business
where city="Santa Barbara"
and categories like "%%restaurant%%"
and stars>3.5
limit 1000;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

4. Our team have deicided to pick the cuscine type among Korean, Chinese and Japanese. We first use the query to see how many existing Korean restaurants in Santa Barbara.

In [ ]:
%%sql
SELECT COUNT(*) AS row_count, name, postal_code, categories
FROM (
  SELECT *
  FROM business
  WHERE city = 'Santa Barbara'
) AS subquery
WHERE categories LIKE '%Korean%'
group by name, postal_code, categories;

 * mysql://B07:***@testproject.mysql.database.azure.com:3306/B07
7 rows affected.

[(1, 'Secret Bao', '93101', 'Pop-Up Restaurants, Korean, Restaurants, Asian Fusion'),
 (1, 'iGrill Korean BBQ', '93105', 'Korean, Restaurants'),
 (1, 'Kimchi Korean BBQ', '93105', 'Korean, Barbeque, Restaurants'),
 (1, 'East Beach Tacos', '93103', 'Korean, Restaurants, American (New), Mexican, Tacos, Nightlife, Fast Food, Bars'),
 (1, 'Sunny Asian Restaurant', '93105', 'Restaurants, Korean, Asian Fusion'),
 (1, "Choi's Oriental Market", '93111', 'Food, Grocery, Korean, Restaurants, International Grocery'),
 (1, 'iGrill Korean BBQ', '93105', 'Barbeque, Restaurants, Korean, Food')]

5. We then write a query to see how existing Chinese restaurants in the market.

In [ ]:
%%sql
SELECT COUNT(*) AS row_count, name, postal_code, categories
FROM (
  SELECT *
  FROM business
  WHERE city = 'Santa Barbara'
) AS subquery
WHERE categories LIKE '%Chinese%'
group by name, postal_code, categories;

6. At last, we want to check how many exisitng Japanese restaurants in the market.

In [ ]:
%%sql
SELECT COUNT(*) AS row_count, name, postal_code, categories
FROM (
  SELECT *
  FROM business
  WHERE city = 'Santa Barbara'
) AS subquery
WHERE categories LIKE '%Japanese%'
group by name, postal_code, categories;

7. We have decided to open a Korean restaurant since there are less competitors in the market. As a result, we want to discover the attributes that our current competitors have.

In [ ]:
%%sql
SELECT COUNT(*) AS row_count, name, postal_code, categories, attributes, MAX(LENGTH(attributes)) AS max_length
FROM (
  SELECT *
  FROM business
  WHERE city = 'Santa Barbara'
  AND categories LIKE '%Korean%'
) AS subquery
GROUP BY name, postal_code, categories, attributes
ORDER BY max_length DESC;

8. We want to decide our opening hours by referencing our competitor's.

In [ ]:
%%sql
SELECT COUNT(*) AS row_count, name, postal_code, categories, attributes,hours
FROM (
  SELECT *
  FROM business
  WHERE city = 'Santa Barbara'
  AND categories LIKE '%Korean%'
) AS subquery
GROUP BY name, postal_code, categories, attributes,hours

9. In order to learn from our competitors, we would like to check the reviews of the seven restaurants.

In [ ]:
%%sql
CREATE TABLE korean AS
SELECT COUNT(*) AS row_count, name, postal_code, categories
FROM (
  SELECT *
  FROM business
  WHERE city = 'Santa Barbara'
) AS subquery
WHERE categories LIKE '%Korean%'
GROUP BY name, postal_code, categories;

In [ ]:
%%sql
SELECT business_id, text
FROM review
WHERE business_id IN (SELECT business_id FROM korean)
limit 1000;

10. By picking the keywords from the reviews we selected from the previous query, we can know more about the customer's appetite.

In [ ]:
%%sql
create table koreanreview as
SELECT business_id, text
FROM review
WHERE business_id IN (SELECT business_id FROM korean)
limit 1000;

In [ ]:
%%sql
select text, business_id
from koreanreview
where text like "%excellent%" or "%good%" or "%fantastic%" or "%great%" or "%amazing%" or "%delicious%" or "%yumy%" or "%fabulous%" or "%love%" or "%like%" or "%awesome%" or "%comfortable%" or "%elegant%" or "%satisfied%" or "%thank%"

**Conclusion: **
In this project, we considered location is the most important factor for a new restaurant.Therefore, we have flitered the city which possesses the most restaurants whose rating points are above 3.5/5----Santa Barbara. Then, we found out the market of korean cuscine is relative small and less competitive, so we consider this is a great business opportunity. Moving forward, we had listed the attributes of the existing competitors to provide us with ideas of better services. For example, providing mutilple payment methods, a high-speed Wifi, baby-seat as well as remoted reservations. Moreover, we referred to the opening hour of other competitors to determine what would be the best timing for us to operate. Nevertheless, we aimed to generate more insights from the positive reviews. For example, some of the customers were satisfied with the pricing, some were happy with the food quality as well as the service quality.